// Main Colors
$primary-color: #ff0000;  // 7mer
$secondary-color: #C19CD8;
$highlight: #ffeea8;
$text: #ffffff;
$gray-blue: #000000;
$white: #000000;  // k7el
$black: #6600ff; // Purple
$lighten-black: #000000;
$blue-black: #ffff00;  // lkbir
$blue-darken: #6600ff; // purple
$green-darken: #171c1c;  // green idk
$danger: #ff0000;
$success: #00cc00;


// Background Colors
$background: $blue-black;

// Body Color
$body-color: $text;

// Headings
$heading-font-color: #000000;

// Links
$link-color: $primary-color;
$link-color-hover: lighten($link-color, 15%);

// Button
$button-color: $white;
$button-background-color: $primary-color;

// Border
$border-color: #000000; // k7el ig
